<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加数据</title>
</head>
<body>
<form th:action="@{insert}" method="post">
    <input name="itemCode" type="text" >
    <input name="DOCTOR_NAME" type="text">
    <input name="DOCTOR_TITLE" type="text">
    <input name="DOCTOR_TREATMENT" type="text" >
    <input name="DEPT_CODE" type="text">
    <input name="NUM_TYPE" type="text">
    <input th:type="submit" value="确定">
</form>
</body>
</html>