<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eight.gytManage.mapper.ChildHealthMapper">

    <select id="getAllList" resultMap="ChildHealthList">
        select * from Tb_natmeha_doctor
    </select>


    <resultMap id="ChildHealthList" type="com.eight.gytManage.pojo.Tb_natmeha_doctor">
        <id property="itemID" column="itemID"></id>
        <result property="DOCTOR_NAME" column="DOCTOR_NAME"></result>
        <result property="DEPT_CODE" column="DEPT_CODE"></result>
        <result property="DOCTOR_TITLE" column="DOCTOR_TITLE"></result>
        <result property="itemCreateAt" column="itemCreateAt"></result>
    </resultMap>

    <delete id="deleteById" parameterType="String">
        delete  from Tb_natmeha_doctor d where d.itemID=#{itemID}
    </delete>
    
    <insert id="insert" parameterType="com.eight.gytManage.pojo.Tb_natmeha_doctor">
       insert into Tb_natmeha_doctor(itemCode,DOCTOR_NAME,DOCTOR_TITLE,DOCTOR_TREATMENT,DEPT_CODE,NUM_TYPE) values (#{itemCode},#{DOCTOR_NAME},#{DOCTOR_TITLE},#{DOCTOR_TREATMENT},#{DEPT_CODE},#{NUM_TYPE});
    </insert>

    <select id="selectById" resultMap="ChildHealthList">
        select * from Tb_natmeha_doctor where itemID=#{itemID}
    </select>

    <update id="updateById" parameterType="com.eight.gytManage.pojo.Tb_natmeha_doctor">
        update Tb_natmeha_doctor set DEPT_CODE=#{DEPT_CODE},DOCTOR_TITLE=#{DOCTOR_TITLE},DOCTOR_NAME=#{DOCTOR_NAME} where itemID=#{itemID}
    </update>

</mapper>